<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
       <!-- tailwind CDN  -->
       <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white font-sans">
<!--navbar-->
<nav class ="container mx-auto py-4 border-b border-gray-700 flex justify-between items-center mb-1">
    <div>
        <h1 class="text-3xl font-bold">AI Workout Generator</h1>
    </div>

    <div class="flex space-x-6">
        <a href="{% url 'home' %}" class="text-white hover:underline">Home</a>
        <a href="{% url 'signup' %}" class="text-white hover:underline">Signup</a>
       
    </div>
</nav>




<!--main bg-->
<div class="flex items-center justify-center h-screen">
    <div class="p-8  rounded-lg shadow-md max-w-md w-full" style="background-color:rgba(66, 66, 66, 0.5);">
        <!-- login form here-->
        <form method="POST" action="{% url 'login' %}" class="space-y-4">
            {% csrf_token %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li class="text-red-500">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <!-- <form class="space-y-4"> -->

            <h2 class ="text-xl font-semibold text-center"> Login</h2>
            <div>
                <label for="username" class="block mb-1 front-medium text-center">Username</label>
                <input type="text" id="username" name="username" placeholder = "Enter your username:" class="bg-black border  text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600" >

            </div>


            <div>
                <label for="password" class="block mb-1 mt-3 front-medium text-center">Password</label>
                <input type="password" id="password" name="password" placeholder = "Enter your password:" class="bg-black border  text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600" >

            </div>

            <div class = "flex justify-center">
            <button id="workoutButton" class="bg-white text-black text-sm font-bold py-2 px-4 rounded-lg border border-gray-300 hover:bg-gray-200 mt-4 mb-4">
                <span>Submit</span>
            </button>
            </div>
        </form>

    </div>
</div>

</body>
</html>